*{
  box-sizing: border-box; 
}

.left{ ;
  margin-left: 20px; margin-bottom: 20px;
  height: 200vh;


} 




nav{
  height: 10vh;
  background-color: white;
  display:flex;
  align-items: center;
  justify-content: space-between;
  position: static;
  

}
ul{
  text-decoration: none; color: black;
}
li{
  display: inline; list-style-type: none; margin-left: 20px; color: black;
}

img{
  width: 20rem;
}
