*{ overflow: visible;
  box-sizing: border-box; 
}

.left
{ 
  margin-left: 80px;
  height: 200vh;
} 




nav{
  height: 10vh;
  background-color: white;
  display:flex;
  align-items: center;
  justify-content: space-between;
  position: static;
  

}
ul{
  text-decoration: none; color: black;
}
li{
  display: inline; list-style-type: none; margin-left: 20px; color: black;
}

img{
  width: 20rem;
}

.last{ 
   border: 1px ridge gainsboro;
  background-color: white;
    padding: 5px;
     float: left; 
     width: 33.33%;
     text-align: center;

}